p{
  font-family:Georgia, "Times New Roman", serif;
  color:#666666
}

h1{
  font-family:Georgia, "Times New Roman", serif;
  color:#666666
}

body{
  text-align: center;
}

#container{
  width:95%;
  background-color:#f7c0c0;
  margin:0 auto;
}
